header {
  background-color: rgba(0, 0, 0, 0); /* Semi-transparent background color for header */
  color: #42260c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-icon {
  cursor: pointer;
  margin-left: 10px;
  z-index: 2; /* Ensure the hamburger icon is above the navigation menu */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #eac6a1;
  margin: 5px 0;
  transition: 0.4s;
}

.shop-info {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-info img {
  width: 50px;
  height: 50px;
}

.navigation-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  height: 450px;
  background-color: #f7eecd;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(27, 26, 26, 0.3);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 100px;
}

.navigation-menu.active {
  display: block; /* Show navigation menu when active */
}

.navigation-menu ul {
  list-style-type: none;
  padding: 0;
}

.navigation-menu ul li {
  padding: 10px 0;
}

.navigation-menu ul li a {
  color: #42260c;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navigation-menu ul li a i {
  margin-right: 10px;
}

/* Styles for main content area */
main {
  padding: 20px;
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-image: url('images/duka-background.jpeg'); /* Path to your image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
}

#content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Max 2 sections per row */
  grid-gap: 20px;
}

.section {
  background-color: #f7eecd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #content {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* 1 section per row */
  }
}

/* Media query for wider screens */
@media (min-width: 1024px) {
  #content {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Max 2 sections per row */
  }
}