/* Global styles */

header {
  background-color: rgba(0, 0, 0, 0); /* Semi-transparent background color for header */
  color: #42260c;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-icon {
  cursor: pointer;
  margin-left: 10px;
  z-index: 2; /* Ensure the hamburger icon is above the navigation menu */
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #eac6a1;
  margin: 5px 0;
  transition: 0.4s;
}

.shop-info {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-info img {
  width: 50px;
  height: 50px;
}

.navigation-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  height: 450px;
  background-color: #f7eecd;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(27, 26, 26, 0.3);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-container img {
  width: 100px;
}

.navigation-menu.active {
  display: block; /* Show navigation menu when active */
}

.navigation-menu ul {
  list-style-type: none;
  padding: 0;
}

.navigation-menu ul li {
  padding: 10px 0;
}

.navigation-menu ul li a {
  color: #42260c;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navigation-menu ul li a i {
  margin-right: 10px;
}

main {
  padding: 10px;
}

body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-image: url('images/duka-background.jpeg'); /* Path to your image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
}

/* Form container styles */
.form-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; /* Ensure the form is on top of other content */
  width: 400px;
}

/* Styles for the form content */
.form-content {
  position: relative;
  border: 2px solid #eac6a1;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

/* Close button styles */
#close-form-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #999;
}

/* Adjustments for the Shop Name and Location labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Adjustments for the input fields */
input[type="text"] {
  width: calc(100% - 20px); /* Adjust as needed */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Create button styles */
#create-button {
  display: block;
  width: 100%;
  background-color: #eac6a1;
  color: #42260c;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

#create-button:hover {
  background: #cba077;
}

/* Hide the form container initially */
.hidden {
  display: none;
}

/* Styles for blurred background when the form is displayed */
.main-blurred {
  filter: blur(15px);
}