/* Styles specific to the My Shops page */

.shop-section {
  border: 2px solid #eac6a1;
  border-radius: 10px;
  padding: 20px;
  width: 90%; /* Adjust the width as needed */
  margin: 20px auto; /* Center the section horizontally */
  max-width: 600px; /* Add max-width to prevent it from becoming too wide */
}

.section-header {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  margin-bottom: 20px;
}

.section-header button {
  background: #eac6a1;
  color: #42260c;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.section-header button:hover {
  background: #cba077;
}

/* CSS for styling the shop list table */
.shop-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.shop-list th, .shop-list td {
  padding: 10px;
  text-align: center;
  border: none; /* Remove all borders from table cells */
}

.shop-list th {
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 2px solid #f2f2f2;
}

.shop-list tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.shop-list tbody td {
  text-align: center;
}