/* Styles specific to the Sell page */

/* Centered container */
.centered-container {
  display: flex;
  justify-content: center;
}

/* Bordered area */
.bordered-area {
  position: relative; /* Ensure positioning context for absolute positioning */
  border: 2px solid #eac6a1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Sell search input */
.sell-search {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.sell-search input[type="text"] {
  flex-grow: 1; /* Take up remaining space */
  padding: 10px;
  border: 2px solid #eac6a1;
  border-radius: 5px;
}

/* Scan button */
.sell-search button {
  background-color: #eac6a1;
  border: none;
  border-radius: 5px;
  margin-left: 10px; /* Add space between input field and button */
  cursor: pointer;
  padding: 6px 20px; /* Increase padding */
  font-size: 1.5rem;
}

.sell-search button i {
  color: #42260c;
}

/* CSS for styling the product list table */
.product-list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-list th {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}

.product-list td {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.product-list td img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.product-list tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-list tbody td {
  text-align: center;
}

/* Cart button */
.cart-button {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background-color: #eac6a1;
  color: #42260c;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}

/* Cart container */
.cart {
  position: absolute;
  top: 40%; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #eac6a1;
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  height: auto;
  max-height: calc(100vh - 60px);;
  overflow-y: auto;
  z-index: 999;
}

.cart.hidden {
  display: none;
}

/* Additional styles for cart summary */

.cart-summary {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
}

.close-cart,
.back-to-selling {
  position: absolute;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
}

.close-cart {
  right: 10px;
}

.back-to-selling {
  left: 10px;
  color: black;
  margin-bottom: 18px;
}

.item-list {
  /* Style for the list of items added to the cart */
  margin-top: 20px;
  margin-bottom: 100px;
}

.subtotal {
  font-weight: bold;
  margin-bottom: 10px;
  border-top: 1px solid #ccc;
}

.checkout-button {
  background-color: #eac6a1;
  color: #42260c;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-description {
  font-weight: bold;
  font-size: 1em; /* Adjusted font size */
  width:150px;
}

.cart-item-price {
  font-weight: bold;

}

/* Style for the cart item actions */
.cart-item-actions {
  display: flex;
  align-items: center;
  width: 120px;
}

/* Style for the remove button */
.remove-button {
  background-color: white;
  color: #cba077;
  border: none;
  cursor: pointer;
  align-self: flex-start; /* Align to the left */
}

/* Style for the reduce and increase buttons */
.reduce-button,
.increase-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 5px;
}

/* Hover effect on cart button */
.cart-button:hover {
  background-color: #cba077;
}

/* Hover effect on checkout button */
.checkout-button:hover {
  background-color: #cba077;
}

/* Style for the "+" button */
.add-button {
  background-color: #eac6a1;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  cursor: pointer;
}

.add-button:hover {
  background-color: #cba077;
}