{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block body %}
  <main>
    <section id="content">
      <div class="section">
        <h2>Stocks Graph</h2>
      </div>

      <div class="section">
        <h2>Profit Chart</h2>
      </div>

      <div class="section">
        <h2>Expiry List</h2>
      </div>

      <div class="section">
        <h2>Pending Supplier Payments</h2>
      </div>
    </section>
  </main>
{% endblock %}