{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/my_shops.css') }}">
{% endblock %}

{% block body %}
  <main>
    <section id="content">
      <div class="page-title">
        <h2>My Shops</h2>
      </div>
      <div class="centered-container">
        <div class="shop-section">
          <div class="section-header">
            <button id="new-shop-button"><i class="fas fa-plus"></i> New Shop</button>
          </div>
          <table class="shop-list">
            <thead>
              <tr>
                <th>Shop Name</th>
                <th>Location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="shop-list">
              {% for shop in shops %}
              <tr>
                <td>{{ shop.name }}</td>
                <td>{{ shop.location }}</td>
                <td class="action-buttons">
                  <button onclick="editShop(this)"><i class="fas fa-pencil-alt"></i></button>
                  <button onclick="deleteShop(this)"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <div id="new-shop-form" class="form-container hidden">
    <div class="form-content">
      <button id="close-form-button" onclick="closeNewShopForm()">×</button>
      <form id="add-shop-form" action="{{ url_for('my_shops') }}" method="post">
        <label for="shop-name">Shop Name:</label>
        <input type="text" id="shop-name" name="name" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>
        
        <button id="create-button" type="submit">Create</button>
      </form>
    </div>
  </div>
{% endblock %}